.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 24px;
    gap: 65px;
    position: absolute;
    width: 1200px;
    height: 56px;
    top: 24px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
}

.textitheader {
    width: 120px;
    height: 24px;
    font-weight: 700;
    font-size: 20px;
    line-height: 18px;
    letter-spacing: -0.154px;
    color: #2D66EE;
}

.textheader {
    width: 57px;
    height: 18px;
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.154px;
    color: #101828;
    flex: none;
    order: 0;
    flex-grow: 0
}

.headercontacts {
    width: 109px;
    height: 18px;
    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.154px;
    color: #2D66EE;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.headersizeimg {
    width: 40px;
}