.pstyle {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}

.h1style {
    font-size: 64px;
    color: #1F3F68;
}

.h2style {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}