@media only screen and (max-width: 768px) {
  @keyframes motionYUp {
    from {
      background-size: 33%;
      background-position: 480px 0;
    }
    to {
      background-size: 33%;
      background-position: 480px 223.5%;
    }
  }
  @keyframes motionYDown {
    from {
      background-size: 18%;
      background-position: 682px 0;
    }
    to {
      background-size: 18%;
      background-position: 682px -223.5%;
    }
  }
  .banner-bg-left:before {
    height: 1157px;
  }
  .container {
    max-width: 705px;
    width: 100%;
    padding: 0 0;
  }
  .banner {
    background-position-x: 446px;
    background-position-y: -95px;
    background-size: 70%;
  }
  .banner-info {
    margin-top: 138px;
  }
  .banner-info__form {
    width: 382px;
    padding: 32px 32px;
  }
  .banner-info__form .feedbackForm {
    flex-direction: column;
  }
  .banner-info__form .feedbackForm__text {
    margin-bottom: 32px;
  }
  .banner-info__form .feedbackForm-button {
    width: 160px;
    height: 100%;
    padding: 11px 24px;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
  }
  .banner-info__form h4 {
    width: 368px;
  }
  .banner-info__wrapper {
    width: 453px;
  }
  .banner-info__wrapper h1 {
    font-size: 33px;
  }
  .header {
    width: 690px;
    padding: 30px 32px;
    top: -16px;
  }
  .header__menu {
    display: flex;
    flex-direction: column;
  }
  .header__menu-logo {
    background-image: url("../static/Icon/Header/RectangleMenu.svg");
    width: 59px;
    height: 8px;
    margin-bottom: 8px;
  }
  .header__menu-logo:last-of-type {
    margin-bottom: 0px;
  }
  .header__logo {
    font-weight: 700;
    font-size: 20px;
    line-height: 18px;
    letter-spacing: -0.154px;
  }
  .header__nav {
    display: none;
  }
  .header__contacts_phone {
    display: none;
  }
  .header__contacts_mailLogo:before {
    top: 7px;
  }
  .header__contacts_mail a {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.154px;
  }
  .projects {
    padding: 45px 0 0 0;
  }
  .main .projects-products {
    display: none;
  }
  .main .projects-products-adaptive {
    display: flex;
  }
  .main .projects-products-adaptive ul {
    margin-bottom: 32px;
  }
  .main .projects-products-adaptive .products-adaptive__column-1 {
    width: 350px;
  }
  .main .projects-products-adaptive .products-adaptive__column-1 li:nth-of-type(1) {
    display: flex;
    align-items: center;
  }
  .main .projects-products-adaptive .products-adaptive__column-1 li:nth-of-type(1):before {
    content: "";
    background-image: url("../static/Icon/Products/SocialMedia.svg");
    height: 53px;
    width: 53px;
    margin-right: 12px;
    position: relative;
    top: 2px;
  }
  .main .projects-products-adaptive .products-adaptive__column-1 li:nth-of-type(2) {
    display: flex;
    align-items: center;
  }
  .main .projects-products-adaptive .products-adaptive__column-1 li:nth-of-type(2):before {
    content: "";
    background-image: url("../static/Icon/Products/FitnessAndSport.svg");
    height: 53px;
    width: 53px;
    margin-right: 12px;
    position: relative;
    top: 2px;
  }
  .main .projects-products-adaptive .products-adaptive__column-1 li:nth-of-type(3) {
    display: flex;
    align-items: center;
  }
  .main .projects-products-adaptive .products-adaptive__column-1 li:nth-of-type(3):before {
    content: "";
    background-image: url("../static/Icon/Products/Bank.svg");
    height: 53px;
    width: 53px;
    margin-right: 12px;
    position: relative;
    top: 2px;
  }
  .main .projects-products-adaptive .products-adaptive__column-1 li:nth-of-type(4) {
    display: flex;
    align-items: center;
  }
  .main .projects-products-adaptive .products-adaptive__column-1 li:nth-of-type(4):before {
    content: "";
    background-image: url("../static/Icon/Products/Constructor.svg");
    height: 53px;
    width: 53px;
    margin-right: 12px;
    position: relative;
    top: 2px;
  }
  .main .projects-products-adaptive .products-adaptive__column-1 li:nth-of-type(5) {
    display: flex;
    align-items: center;
  }
  .main .projects-products-adaptive .products-adaptive__column-1 li:nth-of-type(5):before {
    content: "";
    background-image: url("../static/Icon/Products/GameProject.svg");
    height: 53px;
    width: 53px;
    margin-right: 12px;
    position: relative;
    top: 2px;
  }
  .main .projects-products-adaptive .products-adaptive__column-1 li:nth-of-type(6) {
    display: flex;
    align-items: center;
  }
  .main .projects-products-adaptive .products-adaptive__column-1 li:nth-of-type(6):before {
    content: "";
    background-image: url("../static/Icon/Products/Education.svg");
    height: 53px;
    width: 53px;
    margin-right: 12px;
    position: relative;
    top: 2px;
  }
  .main .projects-products-adaptive .products-adaptive__column-1 li:nth-of-type(7) {
    display: flex;
    align-items: center;
  }
  .main .projects-products-adaptive .products-adaptive__column-1 li:nth-of-type(7):before {
    content: "";
    background-image: url("../static/Icon/Products/AutoTransport.svg");
    height: 53px;
    width: 53px;
    margin-right: 12px;
    position: relative;
    top: 2px;
  }
  .main .projects-products-adaptive .products-adaptive__column-1 li:nth-of-type(8) {
    display: flex;
    align-items: center;
  }
  .main .projects-products-adaptive .products-adaptive__column-1 li:nth-of-type(8):before {
    content: "";
    background-image: url("../static/Icon/Products/MedicineHealth.svg");
    height: 53px;
    width: 53px;
    margin-right: 12px;
    position: relative;
    top: 2px;
  }
  .main .projects-products-adaptive .products-adaptive__column-2 li:nth-of-type(1) {
    display: flex;
    align-items: center;
  }
  .main .projects-products-adaptive .products-adaptive__column-2 li:nth-of-type(1):before {
    content: "";
    background-image: url("../static/Icon/Products/Food.svg");
    height: 53px;
    width: 53px;
    margin-right: 12px;
    position: relative;
    top: 2px;
  }
  .main .projects-products-adaptive .products-adaptive__column-2 li:nth-of-type(2) {
    display: flex;
    align-items: center;
  }
  .main .projects-products-adaptive .products-adaptive__column-2 li:nth-of-type(2):before {
    content: "";
    background-image: url("../static/Icon/Products/MarketPlace.svg");
    height: 53px;
    width: 53px;
    margin-right: 12px;
    position: relative;
    top: 2px;
  }
  .main .projects-products-adaptive .products-adaptive__column-2 li:nth-of-type(3) {
    display: flex;
    align-items: center;
  }
  .main .projects-products-adaptive .products-adaptive__column-2 li:nth-of-type(3):before {
    content: "";
    background-image: url("../static/Icon/Products/ArTechonology.svg");
    height: 53px;
    width: 53px;
    margin-right: 12px;
    position: relative;
    top: 2px;
  }
  .main .projects-products-adaptive .products-adaptive__column-2 li:nth-of-type(4) {
    display: flex;
    align-items: center;
  }
  .main .projects-products-adaptive .products-adaptive__column-2 li:nth-of-type(4):before {
    content: "";
    background-image: url("../static/Icon/Products/TV.svg");
    height: 53px;
    width: 53px;
    margin-right: 12px;
    position: relative;
    top: 2px;
  }
  .main .projects-products-adaptive .products-adaptive__column-2 li:nth-of-type(5) {
    display: flex;
    align-items: center;
  }
  .main .projects-products-adaptive .products-adaptive__column-2 li:nth-of-type(5):before {
    content: "";
    background-image: url("../static/Icon/Products/Startups.svg");
    height: 53px;
    width: 53px;
    margin-right: 12px;
    position: relative;
    top: 2px;
  }
  .main .projects-products-adaptive .products-adaptive__column-2 li:nth-of-type(6) {
    display: flex;
    align-items: center;
  }
  .main .projects-products-adaptive .products-adaptive__column-2 li:nth-of-type(6):before {
    content: "";
    background-image: url("../static/Icon/Products/Religion.svg");
    height: 53px;
    width: 53px;
    margin-right: 12px;
    position: relative;
    top: 2px;
  }
  .main .projects-products-adaptive .products-adaptive__column-2 li:nth-of-type(7) {
    display: flex;
    align-items: center;
  }
  .main .projects-products-adaptive .products-adaptive__column-2 li:nth-of-type(7):before {
    content: "";
    background-image: url("../static/Icon/Products/Online.svg");
    height: 53px;
    width: 53px;
    margin-right: 12px;
    position: relative;
    top: 2px;
  }
  .main .development-cycle {
    margin-top: 32px;
    margin-bottom: 32px;
  }
  .main .development-cycle .web-mobile__item ul {
    width: 292px;
  }
  .main .development-type {
    margin: 50px 40px;
  }
  .footer {
    padding: 0 0;
  }
  .footer .footer-adaptive {
    display: flex;
  }
  .footer .footer-default {
    display: none;
  }
  .main-footer {
    width: 100%;
  }
  .main-footer__item {
    min-width: 100px;
    margin-right: 50px;
  }
  .main-footer__item:last-of-type {
    margin-right: 0px;
  }
  .main-footer__item a {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.408px;
    color: #FFFFFF;
  }
  .main-footer__item label {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.154px;
    color: #98A2B3;
  }
  .partnership {
    margin-top: 0;
  }
  .partnership .container {
    padding-bottom: 45px;
  }
  .partnership__partners {
    flex-direction: column;
    align-items: start;
  }
  .partnership__partners nav ul li {
    margin-right: 0;
    margin-left: 20px;
  }
  .partnership__partners__button {
    display: none;
  }
  .partnership__info {
    background-size: 70%;
    background-position: 226px 120px;
  }
  .partnership__info__mark {
    margin-bottom: 0;
  }
  .partnership__info p {
    width: 387px;
  }
  .partnership__info ul li {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.408px;
    color: #475467;
  }
  .partnership__info__services {
    margin-bottom: 32px;
  }
  .partnership__info__point {
    margin-bottom: 32px;
  }
  .partnership__info__header {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
  .partnership__info__header-button {
    display: flex;
    border: none;
    padding: 11px 24px;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.154px;
    color: #FFFFFF;
    background: #2D66EE;
    border-radius: 8px;
  }
  .partnership__info__header-button:hover {
    background: rgba(45, 102, 238, 0.6);
  }
  .youproject .container {
    padding-top: 22px;
    padding-bottom: 32px;
  }
  .youproject__info {
    flex-direction: column;
    align-items: start;
  }
  .youproject__text {
    margin-bottom: 32px;
  }
  .application .container {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .application__block {
    flex-direction: column;
    height: auto;
  }
  .application__column-1 {
    margin-bottom: 32px;
  }
  .application__item {
    width: auto;
    margin-bottom: 32px;
  }
  .application__item p {
    width: 67%;
  }
  .application__item:last-of-type {
    margin-bottom: 0;
  }
  .team .container {
    padding-top: 32px;
    padding-bottom: 20px;
  }
  .team__info__video {
    display: flex;
    content: "";
    background-image: url("../static/Icon/Team/Video.svg");
    height: 460px;
    width: 630px;
    background-repeat: no-repeat;
  }
  .team__video {
    display: none;
  }
  .team__footer {
    margin-left: 30px;
    width: 555px;
  }
  .freebook .container {
    padding-top: 76px;
    padding-bottom: 84px;
  }
  .freebook__feedback h1 {
    width: 70%;
  }
  .freebook__info-BG {
    display: flex;
  }
  .freebook__info-BG__image {
    display: flex;
    width: 344px;
    height: 400px;
    background-image: url("../static/Icon/Freebook/Book.svg");
    background-repeat: no-repeat;
    background-position: -65px;
    background-size: 140%;
  }
  .freebook__form {
    align-items: start;
    padding: 32px;
  }
  .freebook__input-form {
    width: 100%;
  }
  .freebook__input-form__item {
    width: 100%;
  }
  .freebook__input-form__item:first-of-type {
    margin-right: auto;
    margin-bottom: 40px;
  }
  .freebook__input-form__item:last-of-type {
    width: 100%;
  }
  .freebook__input-form-phone-name {
    flex-direction: column;
    margin-bottom: 40px;
  }
  .freebook__image {
    display: none;
  }
  .faq .container {
    padding-top: 22px;
    padding-bottom: 32px;
  }
  .faq__block {
    flex-direction: column-reverse;
    align-items: center;
  }
  .faq__column:first-of-type {
    margin-right: 0;
  }
  .faq__column:last-of-type .faq__item:first-of-type {
    border-top: 0.5px solid #D0D5DD;
  }
  .faq__item:first-of-type {
    border-top: none;
  }
}

/*# sourceMappingURL=adaptive768.css.map */
